/* To acheive a Sticky Footer */
html {
    position: relative;
    min-height: 100%;
}
/* Set background image and added spacing from header and footer */
body {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../images/fabric.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Customized Brand */
.my-brand {
    height: 100%;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    background-color: #4aaaa5;
}
/* Custom Text Styling */
.heading {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.my-bio {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}
form label {
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}
.text-block a:link, .text-block a:visited {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
/* Portfolio Gallery */
.image-container {
    position: relative;
    max-width: 300px;
}
.text-block {
    position: absolute;
    bottom: 10px;
    min-width: 100%;
    height: 25%;
    background-color: #4aaaa5;
    line-height: 75px;
    text-align: center;
}
/* Custom Submit Button */
.my-button {
    color: #4aaaa5;
    border-color: #4aaaa5
}
.my-button:hover {
    color: #ffffff;
    background-color: #4aaaa5;
}
/* Sticky Footer Styling */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    line-height: 50px;
    text-align: center;
    color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem;
}
